.protected-layout {
    display: flex;
    height: 100vh;
    min-height: 100vh;
    background: #f5f6fa;
}

.protected-layout-content {
    flex: 1;
    padding: 22px;
    transition: padding 0.23s;
    overflow-y: auto;
}


@media (max-width: 600px) {
    .protected-layout {
        flex-direction: column;
    }

    .protected-layout-content {
        padding: 10px 4px 16px 4px;
    }
}

@media (max-width: 430px) {
    .protected-layout-content {
        flex: 1;
        padding: 33px 2px;
    }
}