.vehicle-page {
    margin-top: 40px;
}

.title-vehicle-page {
    text-align: center !important;
}

.vehicle-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    font-size: 2rem;
    color: #333;
}

@media (max-width: 600px) {

    .vehicle-page {
        margin-top: 40px;
    }
}

@media (max-width: 430px) {

    .vehicle-page {
        margin-top: 40px;
    }
}