.vehicle-search-center {
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.vehicle-search-content {
    width: 100%;
    max-width: 900px;
    margin-top: 40px;
    background: var(--content-pages-bg-default);
    color: var(--vehicle-search-font-color);
    padding: 32px 24px;
    border-radius: 18px;
    box-shadow: var(--content-pages-boxshadow-default);
}

@media (max-width: 1024px) {

    .vehicle-search-center {
        width: 90vw;
    }
}

@media (max-width: 920px) {

    .vehicle-search-center {
        width: 86vw;
    }
}

@media (max-width: 600px) {

    .vehicle-search-center {
        align-items: flex-start;
        width: 96vw;
    }

    .vehicle-search-content {
        width: 90vw;
        max-width: 98vw;
        margin-top: 60px;
        padding: 14px 12px;
        border-radius: 12px;
        box-shadow: none;
    }

    .vehicle-search-content h2 {
        font-size: 1.5rem;
    }

    .d-flex.flex-wrap.gap-2.mb-3 {
        flex-direction: column !important;
        gap: 8px !important;
        align-items: stretch !important;
    }

    .d-flex.flex-wrap.gap-2.mb-3>* {
        width: 100% !important;
        margin-bottom: 6px;
    }
}

@media (max-width: 430px) {

    .vehicle-search-center {
        width: 99vw;
    }

    .vehicle-search-content {
        padding: 16px 12px;
        margin-top: 40px;
        border-radius: 12px;
        width: 95vw;
        max-width: 95vw;
    }

    .d-flex.flex-wrap.gap-2.mb-3>* {
        width: 100% !important;
        margin-bottom: 6px;
    }
}